.App {
  text-align: center;
}

body{
  /* filter: grayscale(10%); */
}

@media(min-width: 599px){
  
  /* body{
    background-image: url("./assets/imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */

}
button{
  width: 200px;
}
